.venv/
.env
infra/.env
infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/*.tfvars
__pycache__/
*.pyc
data/
infra/plan.json
infra/schema.json
infra/tfplan.binary
infra/*.binary
.vscode/
get-docker.sh
